/project/Bin
/project/LoggerDLL/LoggerDLL.v12.suo
/project/LoggerDLL/ipch
/project/LoggerDLL/LoggerDLL.opensdf
/project/LoggerDLL/LoggerDLL.sdf
/project/Test/TestConsoleLogger/TestConsoleLogger.v12.suo
/project/Test/TestConsoleLogger/TestConsoleLogger.sdf
/project/Test/TestDynamicLogger/TestDynamicLogger.v12.suo
/project/Test/TestDynamicLogger/TestDynamicLogger.sdf
/project/Test/TestGuiLogger/TestGuiLogger.v12.suo
/project/Test/TestGuiLogger/TestGuiLogger.sdf
